body{
    background-image:url("Assets/man-using-laptop.jpg");
    color:white;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size:cover;
  }
  #p4{
        text-align: center;
    line-height: 1.6;
    font-size:50px;
    font-family:Arial;
  }
  .p2{
      line-height: 1.6;
    font-size:30px;
    font-family:Arial;
    font-style: italic;
  }
  .p1{
    line-height: 1.6;
    font-size:15px;
    font-family:Arial;
  }
  td
  {
      line-height: 1.6;
  text-align:left;
    width:10%;
  }
  .big{
    font-size:75px;
      line-height: 1.6;
    font-family:Arial;
  }
  .small{
      line-height: 1.6;
    font-size:30px;
    font-family:Arial;
  }
  td {
  border-bottom: 1pt solid black;
  }